@import './../../styles/_variables';

.header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 1rem;
    background: $theme-color-black;
    color: $theme-color-white;

    h2 {
        font-weight: 400;
        letter-spacing: 0.5px;
        cursor: pointer;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        display: flex;
        justify-content: space-between;
    }
}