.project {
    margin: 1rem 0;

    .type {
        font-weight: 400;
        margin-bottom: 0.3125rem;
    }

    .name {
        margin-bottom: 0.625rem;
    }

    .responsibilities {
        margin-left: 2rem;
        font-size: 0.875rem;

        li {
            margin-bottom: 0.625rem;
            line-height: 1.375rem;
        }
    }
}