.container {
    margin-bottom: 2rem;

    .score {
        margin-bottom: 0.125rem;

        font: {
            size: 2.5rem;
            weight: 100;
        }

        span {
            margin-left: 1px;

            font: {
                size: 1.5rem;
                weight: 400;
            }
        }
    }

    .image {
        width: 100%;
        height: 300px;
        background: #EEE;
        margin-top: 0.625rem;
    }
}