@import './../../styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 5rem;
    color: $theme-color-white;

    @media screen and (max-width: $small-desktop-breakpoint) {
        padding: 3rem;
    }

    @media screen and (max-width: $tablet-breakpoint) {
        padding: 1.5rem;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        position: fixed;
        left: -70%;
        z-index: 999;
        width: 70%;
        top: 3rem;
        height: calc(100vh - 3rem);
        padding: 2.5rem;
        padding-bottom: 6rem;
        background: #000;
        transition: 1s;
    }

    &.mobile {
        @media screen and (max-width: $mobile-breakpoint) {
            left: 0;
        }
    }

    .profile {
        .name {
            font-size: 7rem;

            @media screen and (max-width: $tablet-breakpoint) {
                font-size: 5rem;
            }

            @media screen and (max-width: $mobile-breakpoint) {
                font-size: 2rem;
            }
        }

        @media screen and (max-width: $mobile-breakpoint) {
            display: none
        }
    }
}