@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/** ------------------ FONTS ----------------- */
$primary-font: 'Lato',
sans-serif;
$secondary-font: 'IBM Plex Sans';

/** ------------------ WIDTHS ----------------- */
$mobile-portrait-breakpoint: 27.5rem;
$mobile-breakpoint: 45rem;
$tablet-breakpoint: 62.5rem;
$small-desktop-breakpoint: 80rem;

/** ------------------ COLORS ----------------- */

$theme-color-background: #111;
$theme-color-black: #111;
$theme-color-white: #FFF;
$theme-color-ocean-blue: #197090;